.add-more {
  background-color: unset;
  box-shadow: none;
}

.recipe-steps {
  padding-top: 20px
}

.upload-file-box {
  background-color: unset;
  box-shadow: none;
  border: 1px solid black;
  border-radius: 10px;
}
